@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet'); 
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=El+Messiri:wght@400..700&display=swap" rel="stylesheet');   
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
}

html{
    scroll-behavior: smooth;
}
.navbar-brand {
    margin-left: 20px;
   
    font-family: "El Messiri", sans-serif; /* Change font style to italic, you can adjust this to any font style you desire */
}
.navbar-brand img {
    margin-right: 10px;
    border-radius: 50%; /* Change font style to italic, you can adjust this to any font style you desire */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.firsttitle h1 {
    text-align: center;
    color: #d9534f;
    margin-bottom: 20px;
}
.first h3 {
    text-align: center;
    color: #555;
    line-height: 1.6;
}
.second {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
}
.second b {
    color: #d9534f;
}
.second p, .second br {
    line-height: 1.6;
    color: #333;
}
.faq {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.faq h2 {
    color: #d9534f;
    margin-bottom: 20px;
}
.faq ul {
    list-style-type: none;
    padding: 0;
}
.faq ul li {
    margin-bottom: 10px;
}
.faq h4 {
    color: #d9534f;
}
.faq p {
    color: #333;
}
.image {
    text-align: center;
    margin: 20px 0;
}
.image img {
    max-width: 100%;
    border-radius: 10px;
}