body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    text-align: center;
    margin: 50px;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    background-color: #9d7575;
    padding: 20px;
    border-radius: 6%;
   color: #fff;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-button {
    background-color: #812424;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #08090a;
}

p {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #060f1b;
}

a:hover {
    text-decoration: underline;
}

.navbar-brand {
    font-size: 30px; /* Adjust the font size as needed */
}

.navbar.bg-dark {
    background-color: #9b1422 !important;
}
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet'); 
    
.navbar-brand {
    margin-left: 20px;
   
    font-family: "El Messiri", sans-serif; /* Change font style to italic, you can adjust this to any font style you desire */
}
.navbar-brand img {
    margin-right: 10px;
    border-radius: 50%; /* Change font style to italic, you can adjust this to any font style you desire */
}