body{
background-color: rgb(187, 110, 110);
    /* background: url(download\ \(5\).jpeg); */
    /* background-repeat: no-repeat; */
    height: 100px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.signup{
    width: 360px;
    height: 800px;
    margin: auto;
    background-color: rgb(210, 214, 218);
    border-radius: 5px;
}

h1{
    text-align: center;
}
h4{
    text-align: center;
    padding-top: 15px;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(160, 118, 102);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: white;
    background: rgb(223, 50, 27);
}

p{
    text-align: center;
    padding-top:20px ;
    font-size: 15px;
}